@model WebApplication3.Models.KidsViewModel

<h1>Kids</h1>
<hr />

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-2">Name</div>
            <div class="col-md-2">Age</div>
        </div>

        <div class="row" id="kids">
            @Html.EditorFor(m => m.Kids)
        </div>

        <hr />

        <div class="row">
            <button type="button" class="btn btn-sm btn-info add-kid">Add</button>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        </div>
    }
</div>

@section scripts{
    <script>
        $(function () {
            $('.add-kid').click(function () {
                var kids = $('#kids');
                var newIndexName = 'Kids[' + kids.children().length + '].';
                var newWrapper = $('<div class="row"></div>');
                $('<input type="hidden" />').attr('name', newIndexName + 'Id')
                    .appendTo(newWrapper);
                $('<input type="text" />').attr('name', newIndexName + 'Name')
                    .appendTo(newWrapper);
                $('<input type="number" />').attr('name', newIndexName + 'Age')
                    .appendTo(newWrapper);
                newWrapper.appendTo(kids);
                return false;
            });
        });
    </script>
    }